<div class="about_container">
  <div>
    <h3>12</h3>
    <h4>Ansættelser</h4>
  </div>
  <div>
    <h3>12</h3>
    <h4>Ansættelser</h4>
  </div>
  <div>
    <h3>12</h3>
    <h4>Ansættelser</h4>
  </div>
</div>

<style>
  .about_container {
    color: white;
    background: #c93e57;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
</style>
