<footer>
  <ul>
    <li><a href="">Om os</a></li>
    <li><a href="">Shop</a></li>
    <li><a href="">Book os</a></li>
    <li><a href="">Samarbejde</a></li>
    <li><a href="">Kontakt</a></li>
    <li><a href="">Presse</a></li>
    <li><a href="">Handelsbetingelser</a></li>
    <li><a href="">Betaling</a></li>
    <li><a href="">Privatslivspolitik</a></li>
  </ul>

  <div>
    <div>
      <h4>Her finder du os:</h4>
      <div>
        <h5>Værkstedet i Lundtoftegade</h5>
        <h6>Lundtoftegade 23, 1 sal</h6>
        <h6>2200 København N</h6>
      </div>
      <div>
        <h5>Værkstedet i Farum Midtpunkt</h5>
        <h6>Nygårdterasserne 213A</h6>
        <h6>3520 Farum</h6>
      </div>
      <h5>Mail: itmv@itmv.dk</h5>
      <h5>Telefon: 60877307</h5>
      <h5>CVR: 34449686</h5>
    </div>
  </div>

  <div class="footer_newletter">
    <div>
      <h3>Tilmelds nyhedsbrev</h3>
      <input type="text" />
      <div>logo1 2 3</div>
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    color: #c93e57;
  }

  footer > ul {
    list-style: none;
  }
  footer > ul > li {
    margin: 15px 0;
  }
  footer > ul > li a {
    all: unset;
  }
  .footer_newletter {
    width: 40%;
    color: white;
    background: #c93e57;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>
