<section>
  <div>
    <h2>Socialøkonomi og Design</h2>

    <p>
      I Tråd Med Verden (ITMV) er en socialøkonomisk virksomhed drevet af
      foreningen I Tråd Med Verden. I partnerskab med KAB driver vi sy- og
      design værksteder i udsatte boligområder, hvor vi arbejder med design og
      genanvendelse af kasserede tekstiler som omdrejningspunkt for at skabe
      jobmuligheder, netværk og livskvalitet for mennesker, som har mistet
      fodfæste på arbejdsmarkedet.
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
  }

  div {
    text-align: center;
    width: 50%;
  }
</style>
