<nav>
  <div class="nav_menu">
    <ul>
      <li><a href="">Shop</a></li>
      <li><a href="">Om os</a></li>
      <li><a href="">Samarbejde</a></li>
      <li><a href="">Støt</a></li>
      <li><a href="">Kontakt</a></li>
    </ul>
  </div>

  <img src="/logo_nav.png" alt="" />
  <h1>kurv</h1>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }

  .nav_menu {
    display: flex;
  }
  .nav_menu ul {
    display: flex;
  }
  .nav_menu > ul li {
    all: unset;
    padding: 0 10px;
  }
</style>
